### Step 1

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#create path
path = r'C:\Users\jacob\Documents\Data Analytics\Data Immersion\Achievement 4\10-2023 Instacart Basket Analysis'

In [4]:
#import orders products merged data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

### Step 2

In [5]:
#group data by department_id and find the mean of order_number
ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.666130
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Step 3

One thing that is different from the subset data frame is that all department_id values are included. 

antoher interesting thing is that the average number of orders per department per customer only vary on a spread of about 8 orders (15 - 23)

### Step 4

In [6]:
#check current output of data
ords_prods_merge.head()

,order_id,user_id,order_number,day_of_week,hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,busiest_day,busyness,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag,median_days_since_prior_order,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Regularly busy,Regular days,Average orders,10,New Customer,NaN,NaN,NaN,NaN
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Average orders,10,New Customer,6.367535,Low Spender,20.5,Non-frequent Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Most orders,10,New Customer,7.515725,Low Spender,13.0,Regular Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Least busy,Slowest days,Average orders,10,New Customer,8.197565,Low Spender,10.0,Frequent Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Least busy,Slowest days,Most orders,10,New Customer,8.205295,Low Spender,20.0,Regular Customer

a loyalty flag column and was already created during the practice portion of this exercise using the followding code:

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

and 

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [7]:
#check value counts of loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular Customer    15876363
Loyal Customer      10284010
New Customer         6243788
Name: count, dtype: int64

### Clean out INF values from Prices column

In [8]:
#check customer spending habits based on loyalty flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : 'mean'})

                    prices
loyalty_flag
Loyal Customer    7.773427
New Customer      7.801095
Regular Customer  7.798138

In [9]:
#trying the same step a different way
ords_prods_merge.groupby('loyalty_flag')['prices'].mean()

loyalty_flag
Loyal Customer      7.773427
New Customer        7.801095
Regular Customer    7.798138
Name: prices, dtype: float64

In [10]:
ords_prods_merge['prices'].dtype

dtype('float64')

In [11]:
#try changing data type to see if that will get rid of inf return
ords_prods_merge['prices'] = ords_prods_merge['prices'].astype('float64')

In [12]:
#second attempt of checking spending based on loyalty flag
ords_prods_merge.groupby('loyalty_flag')['prices'].mean()

loyalty_flag
Loyal Customer      7.773427
New Customer        7.801095
Regular Customer    7.798138
Name: prices, dtype: float64

In [13]:
#didn't work. change data type of prices back to float 16
ords_prods_merge['prices'] = ords_prods_merge['prices'].astype('float16')

In [14]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean','min','max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal Customer    7.773427  1.0  25.0
New Customer      7.801095  1.0  25.0
Regular Customer  7.798138  1.0  25.0

In [15]:
#check to see if there are any misisng values 
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular Customer    15876363
Loyal Customer      10284010
New Customer         6243788
Name: count, dtype: int64

In [16]:
ords_prods_merge.shape

(32404161, 23)

In [17]:
ords_prods_merge['max_order'].value_counts(dropna = False)

max_order
99    1171328
8      811832
6      811366
9      810185
7      803957
       ...
97      44949
98      44587
96      40453
2           6
1           5
Name: count, Length: 99, dtype: int64

In [18]:
#convert data type of prices to float
ords_prods_merge['prices'] = ords_prods_merge['prices'].astype('float')

In [19]:
ords_prods_merge['prices'].dtype

dtype('float64')

In [20]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean']})

                    prices
                      mean
loyalty_flag
Loyal Customer    7.773427
New Customer      7.801095
Regular Customer  7.798138

In [21]:
ords_prods_merge['prices'].mean()

7.790865257846693

In [22]:
pd.options.display.max_rows = None

In [23]:
ords_prods_merge['prices'].value_counts()

prices
12.296875    624261
10.296875    510496
4.000000     447272
6.300781     438467
1.299805     425691
7.300781     411924
8.203125     404015
1.400391     392209
6.699219     379126
4.500000     367223
4.398438     357026
6.800781     354168
7.898438     342988
14.296875    334811
13.203125    333183
5.699219     323997
1.799805     321184
9.101562     320782
4.898438     318220
8.796875     318091
3.800781     315426
6.898438     314196
14.000000    311640
12.796875    309727
11.398438    303015
3.599609     300127
1.599609     299352
2.000000     286259
11.796875    284476
5.300781     284243
7.000000     282884
14.703125    279291
6.500000     278357
8.296875     276230
4.101562     268269
2.900391     264700
1.200195     256258
8.601562     254009
3.199219     253782
5.199219     251509
5.500000     250136
3.099609     249256
2.500000     246421
4.199219     245755
6.101562     244209
1.099609     242782
2.300781     242051
5.800781     241047
7.500000     239261
14.101562    238211
3.300781     238041
10.500000    237657
7.398438     233506
9.000000     228576
8.398438     227493
5.000000     225904
13.398438    225843
11.500000    225399
5.101562     224797
3.400391     223571
7.199219     223120
3.500000     222786
3.699219     222159
4.699219     221048
8.898438     219412
9.601562     216626
13.500000    216276
1.700195     213967
11.296875    212926
3.900391     212805
11.203125    212323
2.599609     211936
5.898438     208900
5.398438     206769
6.398438     206468
11.703125    206199
2.099609     206004
6.601562     204936
10.601562    204804
2.699219     199785
9.398438     197179
6.000000     196985
2.400391     196042
9.796875     194754
4.800781     193853
3.000000     192650
10.703125    191705
7.699219     190070
14.796875    188844
12.203125    188444
7.800781     186923
5.601562     183638
11.000000    183505
9.203125     182411
12.101562    181986
13.703125    181882
6.199219     178656
8.101562     176805
12.601562    174427
13.296875    173797
13.601562    172962
11.101562    169709
9.898438     169251
9.296875     168917
14.398438    168272
8.703125     166742
9.500000     165789
10.203125    165789
10.898438    165607
12.000000    164717
13.796875    162616
4.300781     162367
12.898438    160860
2.199219     160243
14.898438    156433
1.900391     156179
1.500000     154527
2.800781     153979
12.500000    152781
8.000000     151542
11.601562    148742
13.898438    145234
4.601562     144069
7.101562     140813
14.601562    139880
10.101562    139263
8.500000     139244
10.398438    133058
14.500000    129540
10.000000    127842
11.898438    127349
12.703125    124544
9.703125     120777
14.203125    119314
13.101562    117047
1.000000     115143
13.000000    114503
7.601562     113878
12.398438     97866
15.000000     97261
10.796875     89927
21.093750     33805
19.593750     28383
22.296875     19430
24.203125     15891
18.203125     14923
23.203125     14866
25.000000     13772
23.796875     12585
21.593750     10598
18.703125     10503
23.093750      9135
23.593750      8458
18.593750      8451
18.093750      8027
21.296875      7647
15.296875      7495
24.703125      7283
20.703125      6568
19.296875      6537
24.906250      5781
20.000000      5775
19.703125      5538
19.406250      5457
20.406250      5351
22.093750      5204
15.898438      5078
16.906250      4971
23.296875      4803
16.796875      4795
15.703125      4551
18.796875      4363
24.000000      4327
17.296875      4309
17.093750      4231
16.593750      4212
16.406250      3892
22.906250      3884
17.000000      3836
20.093750      3745
23.000000      3265
16.703125      3105
18.500000      3105
19.093750      2926
24.296875      2889
19.000000      2823
21.703125      2553
16.500000      2541
15.101562      2422
15.500000      2325
22.593750      2275
24.500000      2148
23.906250      2074
17.703125      2073
24.593750      1962
23.500000      1924
16.203125      1823
18.406250      1762
17.406250      1721
16.093750      1622
23.703125      1346
22.406250      1280
16.000000      1272
22.000000      1182
22.203125      1178
15.398438      1175
20.593750      1167
18.000000      1135
22.796875      1089
20.906250      1075
17.203125      1001
19.203125       981
17.796875       981
24.093750       978
20.500000       945
19.906250       887
20.796875       852
15.796875       772
22.500000       706
21.906250       689
17.593750       640
21.796875       546
24.406250       499
15.203125       494
18.906250       483
19.500000       453
24.796875       410
17.500000       369
23.406250       368
19.796875       344
15.601562       333
16.296875       287
20.296875       236
21.406250       137
17.906250       137
20.203125       123
22.703125        99
21.500000        85
18.296875        11
21.000000         8
Name: count, dtype: int64

In [24]:
#change inf values in prices column to nan
ords_prods_merge.replace([np.inf, -np.inf], np.nan, inplace=True)

KeyboardInterrupt:

In [25]:
#check output in prices column
ords_prods_merge.isnull().sum()

order_id                                0
user_id                                 0
order_number                            0
day_of_week                             0
hour_of_day                             0
days_since_prior_order            2076054
product_id                              0
add_to_cart_order                       0
reordered                               0
product_name                            0
aisle_id                                0
department_id                           0
prices                               4429
_merge                                  0
busiest_day                             0
busyness                                0
busiest_period_of_day                   0
max_order                               0
loyalty_flag                            0
avg_price                        32197952
spender_flag                     32197952
median_days_since_prior_order    32197953
frequency_flag                   32197953
dtype: int64

In [ ]:
#drop nan values from prices column
ords_prods_merge.dropna(subset = ['prices'], inplace = True)

In [ ]:
#check output
ords_prods_merge.isnull().sum()

### Step 5

In [27]:
#check customer spending habits based on loyalty flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean']})

                    prices
                      mean
loyalty_flag
Loyal Customer    7.773427
New Customer      7.801095
Regular Customer  7.798138

### Step  6

In [28]:
#create a new column title average price of prodcuts
#group by user_id
#find average price of goods
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].mean()

In [29]:
ords_prods_merge.head()

,order_id,user_id,order_number,day_of_week,hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,busiest_day,busyness,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag,median_days_since_prior_order,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Regularly busy,Regular days,Average orders,10,New Customer,NaN,NaN,NaN,NaN
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Average orders,10,New Customer,6.367535,Low Spender,20.5,Non-frequent Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Most orders,10,New Customer,7.515725,Low Spender,13.0,Regular Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Least busy,Slowest days,Average orders,10,New Customer,8.197565,Low Spender,10.0,Frequent Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Least busy,Slowest days,Most orders,10,New Customer,8.205295,Low Spender,20.0,Regular Customer

In [30]:
#create a spender flag 
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spender_flag'] = 'Low Spender'
ords_prods_merge.loc[(ords_prods_merge['avg_price'] >= 10), 'spender_flag'] = 'High Spender'

In [31]:
ords_prods_merge['spender_flag'].dtype

dtype('O')

In [32]:
ords_prods_merge.head(50)

,order_id,user_id,order_number,day_of_week,hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,busiest_day,busyness,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag,median_days_since_prior_order,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Regularly busy,Regular days,Average orders,10,New Customer,NaN,NaN,NaN,NaN
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Average orders,10,New Customer,6.367535,Low Spender,20.5,Non-frequent Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Most orders,10,New Customer,7.515725,Low Spender,13.0,Regular Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Least busy,Slowest days,Average orders,10,New Customer,8.197565,Low Spender,10.0,Frequent Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Least busy,Slowest days,Most orders,10,New Customer,8.205295,Low Spender,20.0,Regular Customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,both,Regularly busy,Regular days,Average orders,10,New Customer,9.189400,Low Spender,11.0,Regular Customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,both,Regularly busy,Busiest days,Most orders,10,New Customer,8.470633,Low Spender,6.0,Frequent Customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,both,Regularly busy,Busiest days,Most orders,10,New Customer,7.466626,Low Spender,9.0,Frequent Customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,both,Regularly busy,Busiest days,Most orders,10,New Customer,8.781967,Low Spender,30.0,Non-frequent Customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,both,Least busy,Slowest days,Average orders,10,New Customer,7.607743,Low Spender,30.0,Non-frequent Customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,both,Regularly busy,Busiest days,Most orders,22,Regular Customer,8.650684,Low Spender,23.0,Non-frequent Customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,both,Regularly busy,Regular days,Most orders,22,Regular Customer,8.328530,Low Spender,14.0,Regular Customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,both,Regularly busy,Regular days,Most orders,22,Regular Customer,8.115881,Low Spender,30.0,Non-frequent Customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,both,Regularly busy,Busiest days,Most orders,22,Regular Customer,8.708442,Low Spender,7.0,Frequent Customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,both,Regularly busy,Busiest days,Most orders,22,Regular Customer,8.013969,Low Spender,30.0,Non-frequent Customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,both,Regularly busy,Regular days,Most orders,9,New Customer,3.980306,Low Spender,10.0,Frequent Customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,both,Regularly busy,Regular days,Most orders,9,New Customer,8.228878,Low Spender,21.0,Non-frequent Customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,both,Least busy,Slowest days,Average orders,9,New Customer,7.337777,Low Spender,5.0,Frequent Customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,both,Regularly busy,Slowest days,Most orders,33,Regular Customer,7.703275,Low Spender,8.0,Frequent Customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,both,Regularly busy,Slowest days,Average orders,20,Regular Customer,8.372018,Low Spender,6.0,Frequent Customer
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,both,Regularly busy,Slowest days,Most orders,20,Regular Customer,5.408558,Low Spender,6.0,Frequent Customer
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,both,Least busy,Slowest days,Most orders,11,Regular Customer,7.012538,Low Spender,7.5,Frequent Customer
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,both,Least busy,Slowest days,Most orders,11,Regular Customer,7.427239,Low Spender,13.0,Regular Customer
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,both,Regularly busy,Busiest days,Most orders,27,Regular Customer,8.222656,Low Spender,9.0,Frequent Customer
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,both,Regularly busy,Busiest days,Most orders,27,Regular Customer,6.741699,Low Spender,14.0,Regular Customer
25,1261384,52,3,1,10,7.0,196,3,1,Soda,...,both,Regularly busy,Busiest days,Most orders,27,Regular Customer,8.256557,Low Spender,30.0,Non-frequent Customer
26,580568,52,5,2,10,8.0,196,6,1,Soda,...,both,Regularly busy,Regular days,Most orders,27,Regular Customer,6.783761,Low Spender,8.0,Frequent Customer
27,2428073,52,7,2,7,8.0,196,5,1,Soda,...,both,Regularly busy,Regular days,Average orders,27,Regular Customer,7.658949,Low Spender,5.0,Frequent Customer
28,342306,52,9,1,11,7.0,196,5,1,Soda,...,both,Regularly busy,Busiest days,Most orders,27,Regular Customer,8.355307,Low Spender,11.0,Regular Customer
29,1520353,52,10,2,10,8.0,196,4,1,Soda,...,both,Regularly busy,Regular days,Most orders,27,Regular Customer,7.437457,Low Spender,11.0,Regular Customer
30,2542086,52,11,2,9,7.0,196,3,1,Soda,...,both,Regularly busy,Regular days,Most orders,27,Regular Customer,9.436435,Low Spender,27.5,Non-frequent Customer
31,944694,52,12,1,16,6.0,196,7,1,Soda,...,both,Regularly busy,Busiest days,Most orders,27,Regular Customer,8.137767,Low Spender,6.0,Frequent Customer
32,1268191,52,15,2,11,8.0,196,3,1,Soda,...,both,Regularly busy,Regular days,Most orders,27,Regular Customer,7.571949,Low Spender,30.0,Non-frequent Customer
33,1122089,52,17,2,10,6.0,196,4,1,Soda,...,both,Regularly busy,Regular days,Most orders,27,Regular Customer,6.622513,Low Spender,30.0,Non-frequent Customer
34,1498922,52,18,2,10,14.0,196,6,1,Soda,...,both,Regularly busy,Regular days,Most orders,27,Regular Customer,7.046600,Low Spender,21.0,Non-frequent Customer
35,180919,52,19,3,8,8.0,196,4,1,Soda,...,both,Regularly busy,Slowest days,Average orders,27,Regular Customer,7.906457,Low Spender,26.0,Non-frequent Customer
36,2695875,52,21,5,10,30.0,196,1,1,Soda,...,both,Regularly busy,Regular days,Most orders,27,Regular Customer,7.285329,Low Spender,9.0,Frequent Customer
37,3205960,67,1,3,11,NaN,196,1,0,Soda,...,both,Regularly busy,Slowest days,Most orders,24,Regular Customer,8.036024,Low Spender,10.0,Frequent Customer
38,970922,67,2,1,15,5.0,196,2,1,Soda,...,both,Regularly busy,Busiest days,Most orders,24,Regular Customer,8.456611,Low Spender,27.0,Non-frequent Customer
39,596585,67,3,1,13,7.0,196,2,1,Soda,...,both,Regularly busy,Busiest days,Most orders,24,Regular Customer,7.141664,Low Spender,7.0,Frequent Customer
40,2037087,67,4,2,9,8.0,196,1,1,Soda,...,both,Regularly busy,Regular days,Most orders,24,Regular Customer,6.667696,Low Spender,12.0,Regular Customer
41,2474111,67,5,3,14,8.0,196,2,1,Soda,...,both,Regularly busy,Slowest days,Most orders,24,Regular Customer,8.061463,Low Spender,27.0,Non-frequent Customer
42,1568481,67,6,3,12,7.0,196,2,1,Soda,...,both,Regularly busy,Slowest days,Most orders,24,Regular Customer,7.466011,Low Spender,9.0,Frequent Customer
43,2048527,67,8,2,11,7.0,196,1,1,Soda,...,both,Regularly busy,Regular days,Most orders,24,Regular Customer,7.444980,Low Spender,10.0,Frequent Customer
44,2389031,67,9,2,14,7.0,196,1,1,Soda,...,both,Regularly busy,Regular days,Most orders,24,Regular Customer,8.194811,Low Spender,30.0,Non-frequent Customer
45,2378562,67,10,1,10,6.0,196,1,1,Soda,...,both,Regularly busy,Busiest days,Most orders,24,Regular Customer,5.022135,Low Spender,18.0,Regular Customer
46,1515698,67,11,1,11,7.0,196,1,1,Soda,...,both,Regularly busy,Busiest days,Most orders,24,Regular Customer,8.344465,Low Spender,21.0,Non-frequent Customer
47,1928050,67,12,2,12,8.0,196,1,1,Soda,...,both,Regularly busy,Regular days,Most orders,24,Regular Customer,8.675931,Low Spender,12.0,Regular Customer
48,1949274,67,13,1,10,6.0,196,1,1,Soda,...,both,Regularly busy,Busiest days,Most orders,24,Regular Customer,8.066519,Low Spender,27.0,Non-frequent Customer
49,551869,67,14,1,9,7.0,196,1,1,Soda,...,both,Regularly busy,Busiest days,Most orders,24,Regular Customer,7.408639,Low Spender,30.0,Non-frequent Customer

In [33]:
#check data types for memory
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32404161 entries, 0 to 32404858
Data columns (total 23 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int32
 1   user_id                        int32
 2   order_number                   int8
 3   day_of_week                    int8
 4   hour_of_day                    int8
 5   days_since_prior_order         float16
 6   product_id                     int32
 7   add_to_cart_order              int32
 8   reordered                      int8
 9   product_name                   object
 10  aisle_id                       int32
 11  department_id                  int32
 12  prices                         float64
 13  _merge                         object
 14  busiest_day                    object
 15  busyness                       object
 16  busiest_period_of_day          object
 17  max_order                      int8
 18  loyalty_flag                   object
 19  avg_price                      float64
 20  spender_flag                   object
 21  median_days_since_prior_order  float16
 22  frequency_flag                 object
dtypes: float16(2), float64(2), int32(6), int8(5), object(8)
memory usage: 3.7+ GB

In [34]:
#change data types to help memory usage
ords_prods_merge['order_id'] = ords_prods_merge['order_id'].astype('int32')

In [35]:
ords_prods_merge['order_id'].dtype

dtype('int32')

### Step 7

In [36]:
#create new column representing median days sisnce proior order
#grouped by user_id
#find median days since prior order
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].median()

In [37]:
#check output
ords_prods_merge.head()

,order_id,user_id,order_number,day_of_week,hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,busiest_day,busyness,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag,median_days_since_prior_order,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Regularly busy,Regular days,Average orders,10,New Customer,NaN,NaN,NaN,NaN
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Average orders,10,New Customer,6.367535,Low Spender,20.5,Non-frequent Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Most orders,10,New Customer,7.515725,Low Spender,13.0,Regular Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Least busy,Slowest days,Average orders,10,New Customer,8.197565,Low Spender,10.0,Frequent Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Least busy,Slowest days,Most orders,10,New Customer,8.205295,Low Spender,20.0,Regular Customer

In [38]:
#create flag for frequent and non frequent customers
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <=20), 'frequency_flag'] = 'Regular Customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent Customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [39]:
#check output
ords_prods_merge.head()

,order_id,user_id,order_number,day_of_week,hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,busiest_day,busyness,busiest_period_of_day,max_order,loyalty_flag,avg_price,spender_flag,median_days_since_prior_order,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Regularly busy,Regular days,Average orders,10,New Customer,NaN,NaN,NaN,NaN
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Average orders,10,New Customer,6.367535,Low Spender,20.5,Non-frequent Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Regularly busy,Slowest days,Most orders,10,New Customer,7.515725,Low Spender,13.0,Regular Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Least busy,Slowest days,Average orders,10,New Customer,8.197565,Low Spender,10.0,Frequent Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Least busy,Slowest days,Most orders,10,New Customer,8.205295,Low Spender,20.0,Regular Customer

In [40]:
ords_prods_merge['frequency_flag'].value_counts()

frequency_flag
Frequent Customer        86596
Regular Customer         59993
Non-frequent Customer    59619
Name: count, dtype: int64

### Step 9

In [ ]:
#export ords_prods_merge to pkl file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [26]:
ords_prods_merge['spender_flag'].value_counts()

spender_flag
Low Spender     201131
High Spender      5078
Name: count, dtype: int64